<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <style>
        table {
            width: 80%;
            margin: auto;
            border-collapse: collapse;
            font-family: sans-serif;
        }
        th, td {
            padding: 10px;
            border: 1px solid #aaa;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        h2 {
            text-align: center;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h2>All Users from sample_mflix</h2>
    <table>
        <tr>
            {% for key in users[0].keys() %}
                <th>{{ key }}</th>
            {% endfor %}
        </tr>
        {% for user in users %}
            <tr>
                {% for value in user.values() %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>
</html>